{% extends "layout.html.twig" %}

{% block title %}Delete a details of an environment{% endblock %}
{% block body %}
 <div class="container">
{{ form_start(form) }}
{{ form_errors(form) }}
    {{ form_row(form.servercategory, { 'attr':{'disabled':'disabled'} }) }}
    {{ form_row(form.description, { 'attr':{'disabled':'disabled'} }) }}
    {{ form_row(form.environment, { 'attr':{'disabled':'disabled'} }) }}
    {{ form_row(form.server, { 'attr':{'disabled':'disabled'} }) }}
    {{ form_row(form.user, { 'attr':{'disabled':'disabled'} }) }}
    {{ form_row(form.save, { 'label': 'Delete' }) }}

{{ form_end(form) }}
    
</div>
{%  endblock body %}