{% extends "layout.html.twig" %}

{% block title %}Edit a details of an environment{% endblock %}
{% block body %}
 <div class="container">
{{ form_start(form) }}
{{ form_errors(form) }}
    {{ form_row(form.servercategory) }}
    {{ form_row(form.description, {'required': false}) }}
         {# TODO should be readonly or invisible #}
    {{ form_row(form.environment) }}
    {{ form_row(form.server) }}
    {{ form_row(form.user) }}
    {{ form_row(form.save, { 'label': 'Update' }) }}
{{ form_end(form) }}
</div>
{%  endblock body %}