{% extends "layout.html.twig" %}

{% block title %}Environment Details Summary{% endblock %}

{% block body %}
<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-xs-8 col-md-8 col-lg-8 centered">
            <h1>Environments Details List for {{ environment.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-md-8 col-lg-8 left">
            <button type="button" class="btn btn-default"/><span class="glyphicon glyphicon-plus-sign glyphicon-align-left"></span><a href="/envdetails/{{ environment.id }}/add"> Add</a></button>
        </div>
    </div>    
    <div class="row spacer">
        <br>        
    </div>    
    <div class="row">
        <div class="col-lg-8 centered">
            <table class="table table-bordered">
             <thead>
                <tr>
                  <th>Type</th>
                  <th>Description</th>
                  <th>Server Name</th>
                  <th>user</th>
                  <th>action</th>
                </tr>
              </thead>
              <tbody>             
        {% for envdetails_row in envdetails if envdetails_row %}
                     <tr>
                         <td>{{ envdetails_row.servertype }}</td>
                         <td>{{ envdetails_row.description }}</td>
                         <td>{{ envdetails_row.server.name }}</td>
                         <td>{{ envdetails_row.user }}</td>
                         <td>
                             <button type="button" class="btn btn-default"/><span class="glyphicon glyphicon-info-sign  glyphicon-align-left"></span><a href="/envdetails/{{ environment.id }}/view/{{ envdetails_row.id }}"> View</a></button>
                             <button type="button" class="btn btn-default"/><span class="glyphicon glyphicon-edit glyphicon-align-left"></span><a href="/envdetails/{{ environment.id }}/edit/{{ envdetails_row.id }}"> Edit</a></button>
                             <button type="button" class="btn btn-default"/><span class="glyphicon glyphicon-minus-sign  glyphicon-align-left"></span><a href="/envdetails/{{ environment.id }}/delete/{{ envdetails_row.id }}"> Delete</a></button>
                         </td>
                         
                     </tr>
        {% endfor %}      
              </tbody>
       </table>
    </div><!-- end col-lg-8 -->
  </div><!-- end row -->
</div><!-- end container -->
{%  endblock body %}