{% extends "layout.html.twig" %}

{% block title %}Add a parameter of a product{% endblock %}
{% block body %}
 <div class="container">
{{ form_start(form) }}
{{ form_errors(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description, {'required': false}) }}
    {{ form_row(form.product) }}   
    {{ form_row(form.hardcoded) }}         
    {{ form_row(form.save) }}
{{ form_end(form) }}
</div>
{%  endblock body %}