{% extends "layout.html.twig" %}

{% block title %}Products Summary{% endblock %}

{% block body %}
<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-xs-8 col-md-8 col-lg-8 centered">
            <h1>Products List</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-md-8 col-lg-8 left">
            <button type="button" class="btn btn-default"/><span class="glyphicon glyphicon-plus-sign glyphicon-align-left"></span><a href="/product/add"> Add</a></button>
        </div>
    </div>    
    <div class="row spacer">
        <br>        
    </div>        
    <div class="row">
        <div class="col-xs-8 col-md-8 col-lg-8 centered">
            <table class="table table-bordered">
             <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>             
        {% for product in products if product %}
                     <tr>
                         <td>{{ product.name }}</td>
                         <td>{{ product.description }}</td>
                         <td>
                             <button type="button" class="btn btn-default"/><span class="glyphicon glyphicon-info-sign  glyphicon-align-left"></span><a href="/product/view/{{ product.id }}"> View</a></button>
                             <button type="button" class="btn btn-default"/><span class="glyphicon glyphicon-edit glyphicon-align-left"></span><a href="/product/edit/{{ product.id }}"> Edit</a></button>
                             <button type="button" class="btn btn-default"/><span class="glyphicon glyphicon-minus-sign  glyphicon-align-left"></span><a href="/product/delete/{{ product.id }}"> Delete</a></button>
                         </td>
                     </tr>
        {% endfor %}      
              </tbody>
       </table>
    </div><!-- end col-lg-8 -->
  </div><!-- end row -->
</div><!-- end container -->
{%  endblock body %}