{% extends "layout.html.twig" %}

{% block title %}Products Summary{% endblock %}

{% block body %}
<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-xs-8 col-md-8 col-lg-8 centered">
            <h1>Products List</h1>
        </div>
    </div>
    <div class="row spacer">
        <br>        
    </div>        
<!--
    <div class="row">
        <div class="col-xs-8 col-md-8 col-lg-8 left">
            <button type="button" class="btn btn-default"/><span class="glyphicon glyphicon-plus-sign glyphicon-align-left"></span><a href="/product/add"> Add</a></button>
        </div>
    </div>    
-->
    <div class="row">
        <div class="col-md-16">
            <div class="fresh-table full-color-red">
                <div class="toolbar">
                    <button type="button" class="btn btn-default"/><span class="glyphicon glyphicon-plus-sign glyphicon-align-left"></span><a href="/product/add"> Add</a></button>                
                </div>
             <table id="fresh-table" class="table">
             <thead>
                  <th class="text-center" data-field="name" data-sortable="true">Name</th>
                  <th class="text-center" data-field="description" data-sortable="true">Description</th>
                  <th class="text-center" data-field="numberParameters" data-sortable="true">Number of parameters</th>
                  <th class="text-center" data-field="usedOnServerCategory" data-sortable="false">Used on server Category</th>
                  <th class="text-center" data-field="action" data-sortable="false">Action</th>
              </thead>
              <tbody>             
        {% for product in products if product %}
                     <tr>
                         <td>{{ product.name }}</td>
                         <td>{{ product.description }}</td>
                         <td>{{ product.getProductParameter()|length }}</td>
                         <td>
                             <ul>
                             {% for servercategory_row in product.getServerCategory() if servercategory_row %}
                                   <li>{{ servercategory_row.name }}</li>
                             {% endfor %}                                 
                            </ul>
                         </td>
                         <td>
                             <a rel="tooltip" title="view" class="glyphicon glyphicon-info-sign glyphicon-align-left" href="/product/view/{{ product.id }}"><i class="fa"></i></a>
                             <a rel="tooltip" title="edit" class="glyphicon glyphicon-edit glyphicon-align-left" href="/product/edit/{{ product.id }}"><i class="fa"></i></a>
                             <a rel="tooltip" title="delete" class="glyphicon glyphicon-minus-sign glyphicon-align-left" href="/product/delete/{{ product.id }}"><i class="fa"></i></a>
                             <a rel="tooltip" title="parameters" class="glyphicon glyphicon-search glyphicon-align-left" href="/parameter/{{ product.id }}"><i class="fa"></i></a>
                         </td>                         
                     </tr>
        {% endfor %}      
              </tbody>
       </table>
     </div>
    </div><!-- end col-lg-12 -->
  </div><!-- end row -->
</div><!-- end container -->
{%  endblock body %}

{% block javaScript_extra %}
<!-- TODO add in specific twig -->
<script type="text/javascript" src="{{ asset('assets/js/bootstrap-table.js') }}"></script>
<script type="text/javascript">
        var $table = $('#fresh-table'),
            full_screen = false;
        $().ready(function(){
            $table.bootstrapTable({
                toolbar: ".toolbar",
    
                showRefresh: false,
                search: true,
                showToggle: false,
                showColumns: false,
                pagination: true,
                striped: true,
                pageSize: 25,
                pageList: [8,10,25,50,100],
                
                formatShowingRows: function(pageFrom, pageTo, totalRows){
                    //do nothing here, we don't want to show the text "showing x of y from..." 
                },
                formatRecordsPerPage: function(pageNumber){
                    return pageNumber + " rows visible";
                },
                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });
            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });
        });
</script>
{% endblock javaScript_extra %}

{% block stylesheets_extra %} 
<link href="{{ asset('assets/css/fresh-bootstrap-table.css')}}" rel="stylesheet">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
{% endblock stylesheets_extra %}            
